/* ----- Styles généraux ------- */
nav, figure, footer, figcaption, section, article, aside, section, header, hgroup, ul{
		margin:0;
		padding:0;
		display:block;
}



html {
		font-size: 100%; /*Fixer la taille des polices à 100% de la police du navigateur*/
}


body:before { /* image d'arrière-plan flou sans perdre la lisibilité du contenu */
	content: "";
	position: fixed;
	height: 100%; width: 100%;
	background: url(img/Pont_en_Royans2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1; /* Keep the background behind the content */
	-webkit-filter: blur(8px);
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

body {
		margin:0; /*Marges externes*/
		padding:0; /*Marges internes */
		font-family: "Open Sans", "Lucida Grande", sans-serif; /* Police de caractère par défaut */
		font-size: .85em; /* Taille de caractère par défaut (85% de la taille par défaut du caractère par défaut */
		line-height: 1.25em; /* hauteur de ligne */
		color: #333; /* couleur de texte par défaut */
}

/* ---------------- Liens par défaut ------------------ */
a:visited {color:#fbfbfb; font-weight:normal;}
a {color:#fff; font-weight:bold; text-decoration : none;}
a:link,a:visited,a:hover,a:active {
outline:none;
}



/* ----------------- #header ---------------- */
.header {
	box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.header h1, .header h2 {
	margin: 0;
	padding:0;
}

.header hgroup {
height: 70px;
line-height: 50px;
position: relative;
margin-top: 2em;
margin-left: 65px;
float: left;
text-align: center;
font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
font-weight: 700;
padding-top: 2em;
}

h1 { /* Title Develo'pont */
		color: #333;
		font-size: 4.2em;
		letter-spacing: 1pt;
}

h2 { /* Subtitle */
	color: #fbfbfb;
	font-size: 1.6em;
}

h3 {
	font-size:1.2em;
}

.heading_page {
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
}

h3.heading_page {
	font-weight: 700;
  letter-spacing: 1px;
  padding: 1em 0;
  text-align: left;
  text-transform: uppercase;
  color:#748616;
}

h4 {
	font-size: 1.1em;
}

h5 {
font-size:1em;
}

.header span:before {
    content: '{ ';
}

.header span:after {
    content: ' }';
}

.logo {
	padding: 1em 1em 1em 30px;
	width:20%;
}

.logo img {
	width:100%;
	height:auto;
}

.floatleft{
float:left;
}

.content { /* Partie centrale */
		background: none repeat scroll 0 0 rgba(239, 233, 226, 0.6);
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
}

/* Menu d'accessibilité */
.skip {
		background:#333;
}

.skip ul {
		font-size: 0.85em;
		height: 2em;
		margin-left: 1em;
}

.skip li {
		display: inline;
		margin: 0 1em;
		padding: 0;
}

.skip li a {
	color: #fbfbfb;
}

.skip li a:hover {
	color: rgb(187,198,115);
}

/* Menu principal */
.menu {
clear:both;
margin:0;
padding: 0;
background-color:#333;
height:36px;
line-height: 36px;
color: #fbfbfb;
box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.menu ul {
text-transform:uppercase;
list-style:none;
font-size:.85em;
margin:60px 0 0;
margin-left:1em;
}

.menu ul li{
position:relative;
list-style-type:none;
margin: 0 0.7em;
display: inline-block;
}

.menu ul li a {
text-decoration:none;
color:#FFF;
padding:9.5px .7em;
}

#en-cours a {
background-color:#CE255A;
color:#fff;
}

.menu a:hover {
color:#fff;
background-color:#CE255A;
transition: background-color 0.5s;
}

/* A revoir #sommaire{
	clear:both;
    background: none repeat scroll 0 0 #000;
    border: 1px solid #F6277F;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    width: 30%;
}

#sommaire li{
list-style-type:none;
} */

/* 2 types de page centrale selon les besoins: page full = main2 (pour la page slider, la page formation,...) /
Et page avec aside pour accéder aux ressources du site = main */
#main {
		background: none repeat scroll 0 0 #FFF;
		width:65%;
		padding: 1em 5%;
		float:left;
		margin-top:1em;
		margin-bottom: 1em;
		margin-right:1%;
		box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

#main2 {
		background: none repeat scroll 0 0 rgba(255,255,255,0.6);
		width:90%;
		margin-top:1em;
		padding:1em 5%;
		float:left;
		box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
		border-bottom: 3px solid #CE255A;
}

/* Partie latérale pour les ressources du site */
#aside{
		float:right;
		margin-top:1em;
		margin-right:2.5%;
		background: rgb(255,255,255);
		padding: 1em;
		box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

.heading_aside {
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
  margin: 10px 0 10px;
}

h3.heading_aside {
	font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5em 0;
    text-align: left;
    text-transform: uppercase;
    color: #CE255A;
}

#aside span {
	 padding-left: 33px;
	 height: 33px;
	 display: inline-block;
}

#aside a {
	color: #333;
}

#aside span:hover{
color: #333;
}

#aside li {
	list-style-type: none;
}

/* Fin de la partie latérale */
.tailleH1{
font-size: 2em;
	}

/* --Custom Page d'accueil--*/
.preambule_titre
{
	font-size: 20px;
	font-style: underline;
}

.preambule_main
{
	font-size: 40px;
	text-align: center;
}

.preambule_main2
{
	font-size: 25px;
	text-align: center;
}

/* ----- Partie LA formation  et le tableau ---*/
#fs{
background-color:rgba(116,134,22, 0.8);
text-align: center;
font-weight: bold;
}
#php{
background-color:	rgba(116,134,22, 0.8);
text-align: center;
font-weight: bold;
}
#ruby{
background-color:	rgba(116,134,22, 0.8);
text-align: center;
font-weight: bold;
}
#python{
background-color:	rgba(116,134,22, 0.8);
text-align: center;
font-weight: bold;
}

span.gris{
color: #000;
font-style: italic;
font-weight:500;
}

span.rose{
font-family: 'Open Sans', sans-serif;
color: rgb(206,37,90);
font-size: 1.1em;
font-weight: 600;
padding-top: 1em;
text-align:left;
font-variant: small-caps;
}

td.tableau {
border: 1px solid rgba(116,134,22, 0.5);
}

td.style_tableau {
	text-align: left;
	vertical-align:top;
}

.marges_tableau ul {
	margin:0;
	padding:1em;
}

li.hauteur {
	padding-top: 1em;
	list-style-type: none;
}

li.hauteur:first-child {
	padding-top:0;
	list-style-type: none;
}
/* Fin tableau */

/* Formulaire de contact */
.style_contact fieldset {
border: 1px solid #eee;
}

/* Footer */
#footer{
		clear: both;
		background: #333;
		color: #fbfbfb;
		padding: 1em;
		max-width:100%;
		height: auto;
		font-size:.95em;
		border-top: 3px solid #CE255A;
		box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

#footer a {
	font-weight:500;
	color: #FFF;
}

#enCours_footer a {
color:#748616;
}

#footer a:hover {
color:#748616;
}

#footer h4 {
	color: #fbfbfb;
}

.menu_footer ul {
	list-style-type: none;
	border-top: 1px dotted rgba(255,255,255,0.5);
	border-bottom: 1px dotted rgba(255,255,255,0.5);
	width: 50%;
	padding: 1em;
	margin: 1em auto;
	text-align:center;
}
.menu_footer li {
	display: inline-block;
	padding-right: 1em;
}

/* --liste_footer-- */
/* Liens vers sites internet & partenaires*/
section.margin_liens {
	margin-left: 3em;
}

.lien_site li
{
	list-style: none;
	margin-right: 2.5em;
}

.lien_photo li {
list-style: none;
display:inline-block;
margin-right: 2em;
}

/*#section2 figure{
float:left;
width:28%;
}

#section2 figure img{
width:100%;
height:auto;
}*/

/* Logo Simplon en position absolute dans le header, mais créé dans le footer pour les besoins de l'animation en javascript */
#valid{
position: absolute;
margin:0;
padding:0;
top: 2em;
right: 1em;
} /* Fin custom logo simplon */

.clear{
clear: both;
}

/* Bouton haut de page */

#btn_up {
position:fixed;
bottom:0;
right:2em;
cursor:pointer;
/*display:none;*/
padding:1em;
}

#bouton_fleche {
	border: none;
	background-color: rgba(255, 255, 255, 1);
}
